{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
{% load product_tags %}
{% load cart %}
{% load custom_filter %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1"><span class="text-muted">Search result for</span> {{request.GET.q}}</h3>
	<div class="row">
    {% for product in data %}
    <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
        <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
        <div class="card-body">
            <p class="card-title"><b>{{product.name}}</b></p>
            <p class="card-text"><b>NETT</b><b> ₹ {% call_sellprice product.price product.discount %}</b></p>
             <p class="card-text"><b>MRP </b><b>{{product.price|currency}}</b></p>
             <p class="card-text"><b>DISCOUNT: </b><b>{{product.discount}}%</b></p>
             <p class="card-text"><b>QTY: </b><b>{{product.qty}}</b></p>
             
             
            <!-- {{product | is_in_cart:request.session.cart }} -->
        </div>

        <div class="button-footer p-0 no-gutters">
            <div class="btn btn-block btn-light border-right-row no-gutters ">
            <a href="products/{{product.id}}"><button id="qv{{product.id}}" class="btn btn-primary cart">Full View</button></a>
            </div>
        </div>

        <div class="card-footer p-0 no-gutters">

            {% if product|is_in_cart:request.session.cart %}
            <div class="row no-gutters">
                <form action="/#{{product.id}}" class="col-2 " method="post">
                    {% csrf_token %}
                    <input hidden type="text" name='product' value='{{product.id}}'>
                    <input hidden type="text" name='remove' value='True'>
                    <input type="submit" value=" - " class="btn btn-block btn-light border-right">
                </form>
                <div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart</div>
                <form action="/#{{product.id}}" class="col-2 " method="post">
                    {% csrf_token %}
                    <input hidden type="text" name='product' value='{{product.id}}'>
                    <input type="submit" value=" + " class="btn btn-block btn-light border-left">
                </form>
                
            </div>
            {% else %}
            <form action="/#{{product.id}}" method="POST" class="btn-block">
                {% csrf_token %}
                <input hidden type="text" name='product' value='{{product.id}}'>
                <input type="submit" class="float-right btn btn-light  form-control"
                    value="Add To Cart">
            </form>
            
            {% endif %}

        </div>

    </div>
    {% endfor %}
	</div>
</main>
{% endblock %}